
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Open+Sans:wght@400;500;600&display=swap');

.content {
  font-family: 'Open Sans', sans-serif;
  color: #1C2526;
}

.sectionTitle {
  font-family: 'Lora', serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #2C6E7A;
  margin: 1.5rem 0 0.75rem;
}

.sectionText {
  font-size: 0.875rem;
  line-height: 1.75;
  margin-bottom: 1rem;
}

.list {
  list-style: disc;
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

.list li {
  font-size: 0.875rem;
  line-height: 1.75;
}