// app/globals.css
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Open+Sans:wght@400;500;600&display=swap');
@import './styles/base.css';
@import './styles/components.css';
@import './styles/utils.css';